<!DOCTYPE html>
<html>
<head>
	<title>PROFILE</title>
</head>
<body>
	<h1>PROFILE </h1>

	<a href="/faculty/sections">VIEW SECTIONS</a> |
	<a href="/courses">COURSES</a> | 
	<a href="/logout">LOGOUT</a> | 
	<a href="/faculty/change_password">CHANGE PASSWORD</a> | 

<br><br>

<form method="post">
	<table border="0">
		<tr>
			<td>USERNAME :</td>
			<td><%= user[0].username %></td>
		</tr>
		<tr>
			<td>PASSWORD :</td>
			<td><%= user[0].password %></td>
        </tr>
        <tr>
			<td>FULL NAME :</td>
			<td><%= user[0].full_name %></td>
		</tr>
		<tr>
			<td>GENDER :</td>
			<td><%= user[0].gender %></td>
        </tr>
        <tr>
			<td>CONTACT :</td>
			<td><%= user[0].contact %></td>
		</tr>
		
		
	</table>
</form>
</body>
</html>