<<<<<<< HEAD
<!DOCTYPE html>
<html>
<head>
	<title>userlist</title>
</head>
<body>
	<h1>User List</h1>

	<a href="/home">Back</a> |
	<a href="/logout">logout</a>

<br><br>
	<table border="1">
		<tr>
			
			<td>STUDENT NAME</td>
			<td>GRADE</td>
			<td>ACTION</td>
		</tr>

	<% for(var i=0; i< user.length; i++){ %>
		<tr>
			<td><%= user[i].username %></td>
			<td><%= user[i].grade %></td>
			<td>
				<a href="/faculty/edit/<%= user[i].user_id %>"> CHANGE GRADES </a> 
			</td>
		</tr>

	<% } %>
	</table>
</body>
=======
<!DOCTYPE html>
<html>
<head>
	<title>STUDENT LIST</title>
</head>
<body>
	<h1>STUDENT LIST</h1>

	<a href="/faculty">PROFILE</a> |
	<a href="/logout">LOGOUT</a>

<br><br>
	<table border="1">
		<tr>
			
			<td>STUDENT NAME</td>
			<td>GRADE</td>
			<td>ACTION</td>
		</tr>

	<% for(var i=0; i< user.length; i++){ %>
		<tr>
			<td><%= user[i].username %></td>
			<td><%= user[i].grade %></td>
			<td>
				<a href="/faculty/edit/<%= user[i].user_id %>"> CHANGE GRADES </a> 
			</td>
		</tr>

	<% } %>
	</table>
</body>
>>>>>>> master
</html>